<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    아래 에러 처리는 잘 쓰지 않는 방법이다.-->
    <error-page>
        <error-code>404</error-code>
        <location>/Exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/Exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Exception.jsp</location>
    </error-page>

    <context-param>
        <param-name>MariaDB_Driver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>MariaDB_URL</param-name>
        <param-value>jdbc:mariadb://localhost:3306/musthave</param-value>
    </context-param>
    <context-param>
        <param-name>MariaDB_Id</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>MariaDB_Pwd</param-name>
        <param-value>12345</param-value>
    </context-param>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <!-- 한글 깨짐 방지를 위한 필터 설정(예제 7-9) -->
    <filter>
        <filter-name>SetCharEncoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--    &lt;!&ndash; 서블릿 매핑 1(예제 12-2) &ndash;&gt;-->
<!--    <servlet>  &lt;!&ndash; 서블릿 등록 &ndash;&gt;-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <servlet-class>servlet.HelloServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>  &lt;!&ndash; 서블릿과 요청명 매핑 &ndash;&gt;-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <url-pattern>/12Servlet/HelloServlet.do</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    &lt;!&ndash; 서블릿 매핑 2(예제 12-8) &ndash;&gt;-->
<!--    <servlet>  &lt;!&ndash; 서블릿 등록 &ndash;&gt;-->
<!--        <servlet-name>DirectServletPrint</servlet-name>-->
<!--        <servlet-class>servlet.DirectServletPrint</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>  &lt;!&ndash; 서블릿과 요청명 매핑 &ndash;&gt;-->
<!--        <servlet-name>DirectServletPrint</servlet-name>-->
<!--        <url-pattern>/12Servlet/DirectServletPrint.do</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>


